.banner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.banner div:first-child {
  background: rgba(0, 0, 0, 0.7) url(login.jpeg) no-repeat;
  background-blend-mode: darken;
  width: 650px;
  height: 400px;
  border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -ms-border-radius: 40px 0 0 40px;
  -o-border-radius: 40px 0 0 40px;
  position: relative;
}

.banner h2 {
  color: #eee;
  background: linear-gradient(to right, #3bc9db, #0b7285);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: tran;
  -moz-transform: tran;
  -ms-transform: tran;
  -o-transform: tran;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff8787, #c2255c);
  width: 400px;
  height: 400px;
  border-radius: 0px 40px 40px 0px;
  -webkit-border-radius: 0px 40px 40px 0px;
  -moz-border-radius: 0px 40px 40px 0px;
  -ms-border-radius: 0px 40px 40px 0px;
  -o-border-radius: 0px 40px 40px 0px;
}

.login form input {
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  text-align: center;

  border: 1px solid lightgrey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  width: 50%;
}

::-webkit-input-placeholder {
  color: #999;
}

button {
  border-radius: 40px 0px 50px 0px;
  margin-top: 1.5rem;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem 0;
  border: none;
  width: 50%;
  background: linear-gradient(to right, #ffc078, #d9480f);
  -webkit-border-radius: 40px 0px 50px 0px;
  -moz-border-radius: 40px 0px 50px 0px;
  -ms-border-radius: 40px 0px 50px 0px;
  -o-border-radius: 40px 0px 50px 0px;
}
